<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label "Ich denke Kreativismenkarten wirken inspirierend." %><br>
  <%= f.radio_button :f1, "1"  %> <%= f.label :f1, "--" %>
  <%= f.radio_button :f1, "2"  %> <%= f.label :f1, "-" %>
  <%= f.radio_button :f1, "3"  %> <%= f.label :f1, "+/-" %>
  <%= f.radio_button :f1, "4"  %> <%= f.label :f1, "+" %>
  <%= f.radio_button :f1, "5"  %> <%= f.label :f1, "++" %>
</div> 

<div class="form-group">
  <%= f.label "Die Texte auf den Kreativismen waren leicht verständlich." %><br>
  <%= f.radio_button :f2, "1"  %> <%= f.label :f2, "--" %>
  <%= f.radio_button :f2, "2"  %> <%= f.label :f2, "-" %>
  <%= f.radio_button :f2, "3"  %> <%= f.label :f2, "+/-" %>
  <%= f.radio_button :f2, "4"  %> <%= f.label :f2, "+" %>
  <%= f.radio_button :f2, "5"  %> <%= f.label :f2, "++" %>
</div>

<div class="form-group">
  <%= f.label "Ich entwickle schneller Ideen mithilfe von Kreativismen." %><br>
  <%= f.radio_button :f3, "1"  %> <%= f.label :f3, "--" %>
  <%= f.radio_button :f3, "2"  %> <%= f.label :f3, "-" %>
  <%= f.radio_button :f3, "3"  %> <%= f.label :f3, "+/-" %>
  <%= f.radio_button :f3, "4"  %> <%= f.label :f3, "+" %>
  <%= f.radio_button :f3, "5"  %> <%= f.label :f3, "++" %>
</div>

<div class="form-group">
  <%= f.label "Kreativismen halfen mir entfernte Assoziationen zu wecken." %><br>
  <%= f.radio_button :f4, "1"  %> <%= f.label :f4, "--" %>
  <%= f.radio_button :f4, "2"  %> <%= f.label :f4, "-" %>
  <%= f.radio_button :f4, "3"  %> <%= f.label :f4, "+/-" %>
  <%= f.radio_button :f4, "4"  %> <%= f.label :f4, "+" %>
  <%= f.radio_button :f4, "5"  %> <%= f.label :f4, "++" %>
</div>

<div class="form-group">
  <%= f.label "Ich finde meine Ideen mit Kreativismen origineller/innovativer als Ideen ohne Anwendung von Kreativismen." %><br>
  <%= f.radio_button :f5, "1"  %> <%= f.label :f5, "--" %>
  <%= f.radio_button :f5, "2"  %> <%= f.label :f5, "-" %>
  <%= f.radio_button :f5, "3"  %> <%= f.label :f5, "+/-" %>
  <%= f.radio_button :f5, "4"  %> <%= f.label :f5, "+" %>
  <%= f.radio_button :f5, "5"  %> <%= f.label :f5, "++" %>
</div>

<div class="form-group">
  <%= f.label "Ich würde Kreativismen als Unterstützung für Brainstorming weiter empfehlen (wie im Experiment)." %><br>
  <%= f.radio_button :f6, "1"  %> <%= f.label :f6, "--" %>
  <%= f.radio_button :f6, "2"  %> <%= f.label :f6, "-" %>
  <%= f.radio_button :f6, "3"  %> <%= f.label :f6, "+/-" %>
  <%= f.radio_button :f6, "4"  %> <%= f.label :f6, "+" %>
  <%= f.radio_button :f6, "5"  %> <%= f.label :f6, "++" %>
</div>

<div class="form-group">
  <%= f.label "Ich würde Kreativismen eher als eigenständiges Kreativitätstool nutzen (als Spiel)." %><br>
  <%= f.radio_button :f7, "1"  %> <%= f.label :f7, "--" %>
  <%= f.radio_button :f7, "2"  %> <%= f.label :f7, "-" %>
  <%= f.radio_button :f7, "3"  %> <%= f.label :f7, "+/-" %>
  <%= f.radio_button :f7, "4"  %> <%= f.label :f7, "+" %>
  <%= f.radio_button :f7, "5"  %> <%= f.label :f7, "++" %>
</div>

<div class="form-group">
  <%= f.label "Welche Karte war am inspirendsten/ hilfreichsten?" %><br>
  <%= f.radio_button :f8, "1"  %> <%= f.label :f8, "--" %>
  <%= f.radio_button :f8, "2"  %> <%= f.label :f8, "-" %>
  <%= f.radio_button :f8, "3"  %> <%= f.label :f8, "+/-" %>
  <%= f.radio_button :f8, "4"  %> <%= f.label :f8, "+" %>
  <%= f.radio_button :f8, "5"  %> <%= f.label :f8, "++" %>
</div>

<div class="form-group">
  <%= f.label "Ich fürchte, Falsches zu Tun oder zu sagen/schreiben." %><br>
  <%= f.radio_button :f9, "1"  %> <%= f.label :f9, "--" %>
  <%= f.radio_button :f9, "2"  %> <%= f.label :f9, "-" %>
  <%= f.radio_button :f9, "3"  %> <%= f.label :f9, "+/-" %>
  <%= f.radio_button :f9, "4"  %> <%= f.label :f9, "+" %>
  <%= f.radio_button :f9, "5"  %> <%= f.label :f9, "++" %>
</div>

<div class="form-group">
  <%= f.label "Ich bin beunruhigt darüber, welchen Eindruck ich auf andere Teilnehmer mache." %><br>
  <%= f.radio_button :f10, "1"  %> <%= f.label :f10, "--" %>
  <%= f.radio_button :f10, "2"  %> <%= f.label :f10, "-" %>
  <%= f.radio_button :f10, "3"  %> <%= f.label :f10, "+/-" %>
  <%= f.radio_button :f10, "4"  %> <%= f.label :f10, "+" %>
  <%= f.radio_button :f10, "5"  %> <%= f.label :f10, "++" %>
</div>

<div class="form-group">
  <%= f.label "Als ich meine Ideen eingebracht habe, mache mir sorgen, was die anderen von mir denken." %><br>
  <%= f.radio_button :f11, "1"  %> <%= f.label :f11, "--" %>
  <%= f.radio_button :f11, "2"  %> <%= f.label :f11, "-" %>
  <%= f.radio_button :f11, "3"  %> <%= f.label :f11, "+/-" %>
  <%= f.radio_button :f11, "4"  %> <%= f.label :f11, "+" %>
  <%= f.radio_button :f11, "5"  %> <%= f.label :f11, "++" %>
</div>

<div class="form-group">
  <%= f.label "Ich fühlte mich wohl während der gesamten Brainstorming session."
 %><br>
  <%= f.radio_button :f12, "1"  %> <%= f.label :f12, "--" %>
  <%= f.radio_button :f12, "2"  %> <%= f.label :f12, "-" %>
  <%= f.radio_button :f12, "3"  %> <%= f.label :f12, "+/-" %>
  <%= f.radio_button :f12, "4"  %> <%= f.label :f12, "+" %>
  <%= f.radio_button :f12, "5"  %> <%= f.label :f12, "++" %>
</div>

<div class="form-group">
  <%= f.label "Ich fühle mich wohler, wenn Ideen von alle Teilnehmern sichtbar waren." 
 %><br>
  <%= f.radio_button :f13, "1"  %> <%= f.label :f13, "--" %>
  <%= f.radio_button :f13, "2"  %> <%= f.label :f13, "-" %>
  <%= f.radio_button :f13, "3"  %> <%= f.label :f13, "+/-" %>
  <%= f.radio_button :f13, "4"  %> <%= f.label :f13, "+" %>
  <%= f.radio_button :f13, "5"  %> <%= f.label :f13, "++" %>
</div>

<div class="form-group">
  <%= f.label "Mit welchem geöfnetten Tab warst du kreativer/ hast mehr Ideen generiert? (nur eigene Ideen angezeigt, oder alle Ideen angezeigt)" %><br>
  <%= f.radio_button :f14, "1"  %> <%= f.label :f14, "--" %>
  <%= f.radio_button :f14, "2"  %> <%= f.label :f14, "-" %>
  <%= f.radio_button :f14, "3"  %> <%= f.label :f14, "+/-" %>
  <%= f.radio_button :f14, "4"  %> <%= f.label :f14, "+" %>
  <%= f.radio_button :f14, "5"  %> <%= f.label :f14, "++" %>
</div>

<div class="form-group">
  <%= f.label "und warum?:" %><br>
  <%= f.text_area :f15, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label "Die App war userfreundlich (bspw. übersichtlich, leicht zu bedienen, effektiv, effizient) gestaltet." %><br>
  <%= f.radio_button :f16, "1"  %> <%= f.label :f16, "--" %>
  <%= f.radio_button :f16, "2"  %> <%= f.label :f16, "-" %>
  <%= f.radio_button :f16, "3"  %> <%= f.label :f16, "+/-" %>
  <%= f.radio_button :f16, "4"  %> <%= f.label :f16, "+" %>
  <%= f.radio_button :f16, "5"  %> <%= f.label :f16, "++" %>
</div>
Funktionsumfang ist erfüllt den Zweck von Brainstorming (war wie erwartet).
  <div class="field">

<div class="form-group">
  <%= f.label "Die App war userfreundlich (bspw. übersichtlich, leicht zu bedienen, effektiv, effizient) gestaltet." %><br>
  <%= f.radio_button :f17, "1"  %> <%= f.label :f17, "--" %>
  <%= f.radio_button :f17, "2"  %> <%= f.label :f17, "-" %>
  <%= f.radio_button :f17, "3"  %> <%= f.label :f17, "+/-" %>
  <%= f.radio_button :f17, "4"  %> <%= f.label :f17, "+" %>
  <%= f.radio_button :f17, "5"  %> <%= f.label :f17, "++" %>
</div>

  <div class="field">
    <%= f.label "Bemerkungen/Anregungen (Ich hätte mir noch diese Funktionen gewünscht/Das hätte ich anders gemacht/ Das fand ich gut):" %><br>
    <%= f.text_area :f18, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, { :value => current_user.id} %> 

  <div class="actions">
    <%= f.submit "Save Answers", class: "btn btn-primary" %>  
  </div>
<% end %>
