<div class="panel panel-info">
  <div class="panel-body">
    <p>
    <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= @project.comment %>
    </p>

    <table class="table">
      <thead>
        <tr>
          <td>Status</td>
          <td>Deadline</td>
          <td>Duration</td>
          <td colspan="3"></td>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>
              <%= form_for @project do |f| %>
              <%= f.check_box :done, class: "checkable" %>
              <% end %>
            </td>
            <td><%= @project.deadline %></td>
            <td><%= @project.duration %></td>
            <td><%= link_to 'Back to Project overview', projects_path, class: "btn btn-info btn-sm" %></td>

            <% if current_user.admin == true %>
            <td><%= link_to 'Edit', edit_project_path(@project), class: "btn btn-warning btn-sm" %></td>
            <td><%= link_to 'Destroy', @project, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
            <% end %>

          </tr>
      </tbody>
    </table>

  </div>
</div>  
