<table class="table table-striped table-bordered table-hover "> 
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Deadline</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td>
          <%= form_for project do |f| %>
            <%= f.check_box :done, class: "checkable" %>
          <% end %>
        </td>
        <td class="<%= css_class %>"><%= link_to project.name, project_path(project) %></td>
        <td><%= project.deadline %></td>
        <td><%= project.duration %></td>                   
      </tr>
    <% end %>
  </tbody>
</table>