<% if notice %> 
  <p id="notice" class="alert alert-success alert-dismissable fade in" data-dismiss="alert" aria-hidden="true">
    <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </p>
<% end %>

<%= link_to 'New Project', new_project_path, class: "btn btn-success btn-sm" %>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header">          
        <h1>Projects</h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">    
          
        </div>
      </div>     

      <div class="col-md-9" id="rightCol"> 
        <div class="well"> 
          <div class="table-responsive table-scrollable">
            <h2>To do </br><small><%= pluralize(@todo.count, "Task") %></small></h2>
            <%= render partial: "projecttable", locals: {projects: @todo} %>
            <h2>Done</br><small><%= pluralize(@done.count, "Task") %></small></h2>
            <%= render partial: "projecttable", locals: {projects: @done} %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



