<p id="notice"><%= notice %></p>
<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header">          
        <h1> Project from User <%= @project.user.username %></h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">    
          
        </div>
      </div>     

      <div class="col-md-9" id="rightCol"> 
        <div class="well"> 
          <p>
          <strong>Name:</strong>
            <%= @project.name %>
          </p>

          <p>
            <strong>Comment:</strong>
            <%= @project.comment %>
          </p>

        <table class="table">
          <thead>
            <tr>
              <td>Status</td>
              <td>Deadline</td>
              <td>Duration</td>
              <td colspan="3"></td>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td>
                  <%= form_for @project do |f| %>
                  <%= f.check_box :done, class: "checkable" %>
                  <% end %>
                </td>
                <td><%= @project.deadline %></td>
                <td><%= @project.duration %></td>
                <td><%= link_to 'Back', projects_path %></td>
                <td><%= link_to 'Edit', edit_project_path(@project) %></td>
                <td><%= link_to 'Destroy', @project, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          </tbody>
        </table>

        </div>
      </div>

    </div>
  </div>
</div>

