<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>Done:</strong>
  <%= @project.done %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @project.duration %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @project.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |

<%= link_to 'Back', projects_path %> |

<td><%= link_to 'Destroy', @project, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
