<div class="bs-docs-section">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">          
        <h1><%= @project.question %></h1>
      </div>
      <div class="col-md-3" id="leftCol">
        <div class="well", id="left">
        <%= form_for @idea, :html => { :role => "form"} do |f| %>        
          <%= f.text_area :post, :size => "20x10", :maxlength => 300, class: "form-control", placeholder: "Can't wait for your Idea, but only 300 Characters" %>
          <%= f.hidden_field :project_id, { :value => @project.id } %>
          <%= f.hidden_field :user_id, { :value => current_user.id} %>            
          <%= f.submit "Save Idea" %>               
        <% end %>         
      </div>
      </div>
      <div class="col-md-9 col-md-offset-3"> 
        <div class="well">
          <%= render 'info' %>
        </div> 
      </div>
    </div>
  </div>  



  <div class="row">
    <div class="col-md-12">
      <div class="col-md-9 col-md-offset-3" >  
        <div class="well">
          <h2>Ideas</h2>
          <ul class="nav nav-tabs">
            <li class="active"><a  href="#myIdeas" data-toggle="tab"><strong>my Ideas</strong></a></li>
            <li><a href="#allIdeas" data-toggle="tab"><strong>all Ideas</strong></a></li>
          </ul>
          <div class="tab-content" style="padding: 0px 20px 0px 20px">
            <div class="tab-pane active" id="myIdeas">  
                <%= render 'tab_myIdeas' %>
            </div>
            <div class="tab-pane" id="allIdeas">              
              <%= render 'tab_allIdeas' %>          
            </div>
          </div>
        </div>
      </div>            
    </div>
  </div> 


</div>






